*.bbl
*.blg
*.spl
*.swo
*.docx\#
*.aux
*.log
*.pdf
*.~
*.dot
*.txt
*.pyc
*.html
*.pickle
*.inv
*.js
*.out
*doctree*
*.so
*.swp
*.gz
*.png
*.eps
*.gif
*.h5
*.pcl
*.o???????
*.DS_Store
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
build
backup
